@{
    ViewBag.Title = "ShopCart";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/styleLogin.css" media="screen" />
</head>

<section class="bg-light py-10">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
            <h6 class="mb-0">@ViewBag.Title - PetShop</h6>
            <p>Pret Total : <span>@ViewBag.TotalPrice lei</span></p>
        </div>

        <hr class="mb-4" />


        @foreach (var product in ViewBag.Products)
        {
            if (product.Accepted)
            {
                <div class="card post-preview post-preview-featured lift mb-5">
                    <div class="row no-gutters">
                        <div class="col-lg-5">
                            <img src="~/Files/@product.FileName" alt="@product.FileName" height="200px" />
                        </div>
                        <div class="col-lg-7">
                            <div class="card-body">
                                <div class="pb-5">
                                    <a class="text-dark" href="/Products/Show/@product.ProdId"><h1>@product.ProdName</h1></a>
                                    <div class="rating-box">
                                        @for (int i = 1; i <= 5; i++)
                                        {
                                            if (i <= product.ProdRating)
                                            {
                                                <i class="glyphicon glyphicon-star text-warning"></i>
                                            }
                                            else
                                            {
                                                <i class="glyphicon glyphicon-star-empty"></i>
                                            }
                                        }
                                    </div>
                                    <p class="titlu">@product.Content</p>
                                    <span class="titlu"><i class="glyphicon glyphicon-bitcoin titlu"></i> &nbsp;Pret: @product.ProdPrice lei</span>
                                    <br /><span class="titlu"><i class="glyphicon glyphicon-globe titlu"></i> &nbsp;Categorie: @product.Category.CategoryName</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <hr class="mb-4">
                <br />
            }
        }
        }
        <br />

        <div class="text-center"><a class="btn btn-danger btn-marketing rounded-pill" href="/ShopCart/Empty"><span class="glyphicon glyphicon-trash"></span>&nbsp; Golire ShopCart</a></div>
    </div>
</section>